@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css');
*{
    padding: 0;
    margin: 0;
    border: 0;
    box-shadow: 0;
    text-decoration: none;
    cursor: default;
    color: #eee;
}
:root {
    --fonte-primária :  "Baloo Da 2" , serif;
    --fonte-secundaria :"josefin Slab",sans-serif;
    --font-action: "mulish", serif;
}
body {
    background:rgb(24, 23, 23);
}
header { 
    position: relative;
    grid-area: header;
    position: relative;
    color: #eee;
    width: 100%;
    height: 65vh;
}
.menu-header {
    position: absolute;
    border-radius: 20px;
    background: rgb(24, 23, 23);
    top: 55vh;
    left: 11%;
    height: 15vh;
}
.menu-header  .menu { 
    outline: none;
    margin: 2rem;
    transition: 0.6s;
}
.menu-header  .menu:hover {
    color: rgb(124, 0, 128);
}

.menu-header ul li { 
    display: inline;
}
.menu-header li a {
    font-family: var(--font-action);
    font-weight: 200;
    transition: .25s ease-in-out;
    border-bottom: solid 2px rgb(124, 0, 128);
    font-size: 1.5rem;
    cursor: pointer;
}
#slider {
    position: absolute;
    margin: 2% 2%;
    width: 96%;
    max-width: 100%;
    height: 65vh;
    max-height: 65vh;
    position: relative;
}
#slider img {
    border-radius: 10px;
    opacity: 0;
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: 3s;
  }
  #slider .selected {
    opacity: 1;
  }
section {
    position: relative;
    background:rgb(24, 23, 23);
    top: 12vh;
}
.section2 {
    position: relative;
    top: 15vh;
    background:rgb(24, 23, 23);
    margin: 0 1%;
}

.sessao-projetos {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2rem;
}
.card {
    width: 18rem;
    height: 25rem;
    position: relative;
}
.card-img-wrapper {
    width: 100%;
    height: 100%;
    background-color: #262626;
    border-radius: 0.5rem;
}
.card-img-wrapper img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    opacity: 0.8;
    transition: opacity 0.3s;
}
.card:hover .card-img-wrapper img {
    opacity: 0.5;
}
.card-info {
    position: absolute;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    padding: 2rem;
    text-shadow: 0.3rem 0.2rem 0.3rem rgba(0, 0, 0, 0.6);
    transition: all 0.3s;
    cursor: default;
  }
  
  .card-info h2 {
    font-family: var(--font-primary);
    font-size: 2rem;
    font-weight: 500;
    color: #eee;
  }
  
  .card-info h3 {
    font-family: var(--font-action);
    font-weight: bolder;
    color: rgb(225, 0, 255);
    margin-bottom: 1.5rem;
  }
  
  .card-info p {
    font-family: var(--font-secundary);
    color: #eee;
    font-weight: 400;
    width: 80%;
    margin-bottom: 2rem;
  }
.btn {
    background-color:rgb(124, 0, 128);
    font-family: var(--font-action);
    color: #eee;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    box-shadow: 0 0.1rem 0.8rem rgba(0, 0, 0, 0.4);
  }
  .card-info button {
    width: 8rem;
    height: 2.5rem;
} 
  .card:hover .card-info {
    bottom: 2rem;
    opacity: 1;
    visibility: visible;
}
  footer {
    position: relative;
    top: 20vh;
    width: 100%;
    height: 4rem;
    background-color: rgba(124, 0, 128, 0.349);
}
.footer-content {
    position: relative;
    width: 60%; 
}
.footer-content p {
  position: absolute;
  left: 15%;
  top: 2vh;
  font-family: var(--fonte-secundaria);
  color: #a7a7a7;
  font-size: 1.2rem;
  height: 1vh;
}
.social-list a{
    position: relative;
    left: 950px;
    top: 2vh;
    margin: 0 2rem; 
    color: #a7a7a7;
    font-size: 1.6rem;  
}
.social-list ul{
  display: flex;
  list-style: none;
}
@media screen and (max-width:1024px) {
  .menu-header li a {
    font-size: 1.5rem;
    border-bottom: solid 4px rgb(124, 0, 128);
}
.menu-header .menu {
  position: relative;
  top: 30px; 
}
.card {
  width: 14rem;
  height: 22rem;
}
.card-info h2 {
  font-size: 1.5rem;
}
.card-info p {
  width: 80%;
  margin-bottom: 1rem;
}
footer .social-list a{
  left: 720px; 
}
}
@media screen and (max-width:768px) {
    header { 
        position: relative;
        grid-area: header;
        position: relative;
        color: #eee;
        width: 100%;
        height: 15vh;
        top: 0;
    }
    .menu-header {
        position: absolute;
        border-radius: 20px;
        background: rgb(24, 23, 23);
        top: 52vh;
        left: 5%;
        height: 15vh;
    }
    .menu-header  .menu {

        position: relative;
        top: 30px; 
        margin: 5px;
        outline: none;
        margin: 1rem;
        transition: 0.6s;
    }
    section {
        top: 50vh;
    }
    .section2 {
        top: 50vh;
    }
    .card {
        width: 9rem;
        height: 12.5rem;
    }
    .card-info {
      padding: 8px;
      }    
      .card-info h2 {
        font-size: 15px;
      }
      .card-info h3 {
        font-size: 10px;
        margin-bottom: 8px;
      }
      
      .card-info p {
        font-size: 10px;
        width: 100%;
        margin-bottom: 10px;
      }
      .card-info button {
        font-size: 10px;
        width: 4rem;
        height: 1.5rem;
      }
      footer {
        top: 420px;
    }
    .footer-content {
        position: relative;
        width: 60%; 
    }
    .footer-content p {
      position: absolute;
      left: 15%;
      top: 1vh;
      font-size: 1rem;
      height: 1vh;
    }
    footer .social-list a{
        position: relative;
        left:490px;
        top: 2vh;
        margin: 0 2rem; 
        font-size: 1.3rem;  
    }
}
@media screen and (max-width:425px) {
    header  {
        max-height: 2vh;
        top: 0;
    }
    .menu-header {
        border-radius: 20px;
        top: 28vh;
        left: 45px;
        height: 15vh;
    }
    .menu-header  .menu {
        position: relative;
        top: 12px; 
        margin: 5px;
    }
    .menu-header li a {
        font-size: 12px;
    }
    #slider {
      margin: 2% 2%;
      width: 96%;
      max-width: 100%;
      height: 35vh;
      max-height: 35vh;
      position: relative;
  }
    
    section {
        top: 270px;
    }
    .section2 {
        top:295px;
        margin: 0 1%;
    }
    .sessao-projetos {
        margin-bottom: 5px;
    }
    .card {
        width: 6rem;
        height: 10rem;
    }
    .card-img-wrapper {
        width: 100%;
        height: 100%;
        border-radius: 0.5rem;
    }
    .card-img-wrapper img {
        width: 100%;
        height: 100%;
        border-radius: 0.5rem;
    }
    .card-info {
      padding: 8px;
      }
      
    .card-info h2 {
      font-size: 1px;
    }
      
    .card-info h3 {
      font-size: 10px;
      margin-bottom: 8px;
    }
      
    .card-info p {
      font-size: 7px;
      width: 100%;
      margin-bottom: 8px;
    }
    .card-info button {
      font-size: 10px;
      width: 4rem;
      height: 1rem;
    } 
    footer {
        position: relative;
        top: 375px;
        width: 100%;
        height: 4rem;
        background-color: rgba(124, 0, 128, 0.349);
    }
    .footer-content {
        position: relative;
        width: 60%; 
    }
    .footer-content p {
      position: absolute;
      left: 15%;
      top: 2vh;
      font-family: var(--fonte-secundaria);
      color: #a7a7a7;
      font-size: 10px;
      height: 1vh;
    }
    footer .social-list a{
        left: 320px;
        top: 2vh;
        margin: 0 5px;
        font-size: 8px;  
    }
}
@media screen and (max-width:375px) {
  header  {
    height: 45vh;
    top: 0;
}
.menu-header {
    border-radius: 20px;
    top: 28vh;
    left: 18px;
    height: 15vh;
}
.menu-header  .menu { 
    margin-left: 5px;
}
.menu-header li a {
    font-size: 12px;
}
.sessao-projetos {
    display: inline;
}
section {
  top: 32vh;
}
.section2 {
  top: 225px;
}
.card {
    width: 96%;
    height: 10rem;
    margin: 3vh 2%;
}
.card-img-wrapper {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
}
.card-img-wrapper img {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
}
.card {
  width: 96%;
  height: 10rem;
  margin: 3vh 2%;
}
.card-info {
padding: 1rem;
}

.card-info h2 {
font-size: 1rem;
}

.card-info h3 {
font-size: 1rem;
margin-bottom: 15px;
}

.card-info p {
font-size: 13px;
width: 80%;
margin-bottom:15px;
}
.card-info button {
font-size: 10px;
width: 4rem;
height: 1rem;
}  
  footer {
    position: relative;
    top: 210px;
    width: 100%;
    height: 4rem;
    background-color: rgba(124, 0, 128, 0.349);
}
.footer-content {
    position: relative;
    width: 60%; 
}
.footer-content p {
  position: absolute;
  left: 15%;
  top: 2vh;
  font-family: var(--fonte-secundaria);
  color: #a7a7a7;
  font-size: 10px;
  height: 1vh;
}
.social-list a{
    left: 250px;
    top: 2vh;
    margin: 0 5px;
    font-size: 8px;  
}
}
@media screen and (max-width:320px) {
  header  {
      height: 15vh;
      top: 0;
  }
  .menu-header {
      top: 29vh;
      left: 18px;
      height: 10vh;
  }
  .menu-header  .menu { 
      margin-left: 5px;
  }
  .menu-header li a {
      font-size: 10px;
  }
  section {
    position: relative;
    top: 32vh;
}
.section2 {
    position: relative;
    top: 30vh;
    margin: 0;
}
  .card {
      width: 96%;
      height: 10rem;
      margin: 3vh 2%;
  }
  .card-info {
    padding: 1rem;
  }
  
  .card-info h2 {
    font-size: 1rem;
  }
  
  .card-info h3 {
    font-size: 1rem;
    margin-bottom: 15px;
  }
  
  .card-info p {
    font-size: 13px;
    width: 80%;
    margin-bottom:15px;
  }
  .card-info button {
    font-size: 10px;
    width: 4rem;
    height: 1rem;
  }  
    footer {
      position: absolute;
      top: 1620px;
  }
  footer .social-list a{
    position: relative;
    left:220px;
    top: 2vh;
    margin: 0 5px; 
    color: #a7a7a7;
    font-size: 11px;  
}
}