@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css');
*{
    padding: 0;
    margin: 0;
    box-shadow: 0;
    text-decoration: none;
}
body {
    background: #C33764; 
    background: -webkit-linear-gradient(to right, #1D2671, #C33764);
    background: linear-gradient(to right, #1D2671, #C33764); 
}
:root {
    --fonte-primária :  "Baloo Da 2" , serif;
    --fonte-secundaria :"josefin Slab",sans-serif;
    --font-action: "mulish", serif;
}
.container {
    display: grid; 
    grid-auto-columns: auto; 
    grid-template-columns: 1.1fr 1.3fr; 
    grid-template-rows: 0.9fr 1.3fr 1.4fr 0fr; 
    gap: 2px 0px; 
    grid-template-areas: 
      "header header"
      "section section"
      "section2 section2"
      "footer footer"; 
  }
header { 
      grid-area: header;
      position: relative;
      color: #eee;
      width: 100%;
      height: 45vh;
}
section {
    grid-area: section;
}
.section2 {
    grid-area: section2;
}
header .titulo {
    font-family: var(--fonte-primária);
    font-size: 2.5rem;
    top:.5rem;
    text-shadow: .5rem .2rem 1px rgba(0, 0, 0, .4);
    cursor: default;
    display: flex;
    position: relative;
    justify-content: center;
}
.menu-header {
    display: flex;
    justify-content: center;
}
.menu-header ul li { 
    display: inline;
}
.menu-header  .menu { 
    font-family: var(--fonte-primária);
    outline: none;
    font-size: 2.5rem;
    text-shadow: .2rem .2rem 1px rgba(0, 0, 0, .4);
    font-weight: 400;
    margin: 2rem;
    color: rgb(255, 241, 241);
}
.menu-header li a {
    font-weight: 200;
    transition: .25s ease-in-out;
}
.menu-header:hover  a { 
    color: rgb(243, 217, 217);
}

.sessao-projetos {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2rem;
}
.card {
    width: 18rem;
    height: 25rem;
    position: relative;
}
.card-img-wrapper {
    width: 100%;
    height: 100%;
    background-color: #262626;
    border-radius: 0.5rem;
}
.card-img-wrapper img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    opacity: 0.8;
    transition: opacity 0.3s;
}
.card:hover .card-img-wrapper img {
    opacity: 0.5;
}
.card-info {
    position: absolute;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    padding: 2rem;
    text-shadow: 0.3rem 0.2rem 0.3rem rgba(0, 0, 0, 0.6);
    transition: all 0.3s;
    cursor: default;
  }
  
  .card-info h2 {
    font-family: var(--font-primary);
    font-size: 2rem;
    font-weight: 500;
    color: #eee;
  }
  
  .card-info h3 {
    font-family: var(--font-action);
    font-weight: bolder;
    color: #ff0051;
    margin-bottom: 1.5rem;
  }
  
  .card-info p {
    font-family: var(--font-secundary);
    color: #eee;
    font-weight: 400;
    width: 80%;
    margin-bottom: 2rem;
  }
.btn {
    background-color: #1D2671;
    font-family: var(--font-action);
    color: #eee;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    box-shadow: 0 0.1rem 0.8rem rgba(0, 0, 0, 0.4);
  }
  .card-info button {
    width: 8rem;
    height: 2.5rem;
  }
  
  .card:hover .card-info {
    bottom: 2rem;
    opacity: 1;
    visibility: visible;
  }
  footer {
    grid-area: footer;
    width: 100%;
    height: 7rem;
    background-color: #1f202475;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-content {
    width: 60%;
    display: flex;
    justify-content: space-between;
}
.footer-content p {
  font-family: var(--fonte-secundaria);
  color: #a7a7a7;
  font-size: 1.2rem;
  cursor: default;
  height: 1vh;
}
.social-list a{
    margin: 0 2rem; 
    color: #a7a7a7;
    font-size: 1.3rem;   
}
.social-list ul{
  display: flex;
  list-style: none;
}